.navbar a {
	float: left;
	display: block;
	color: #cbd856;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border: 3px solid #b1b962;
	margin-left: 10px;
	margin-top: 20px;
	border-radius: 10px;
}
.navbar a:hover {
	border-color: #d6ec09;
}
