.person {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	color: rgb(160, 202, 61);
	border: 2px solid rgb(142, 151, 62);
	width: 800px;
	border-radius: 20px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
